/**************Scroll***********/
::-webkit-scrollbar {
   	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
     
/* Handle */
::-webkit-scrollbar-thumb {
  	background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
@font-face {
	font-family: futuraBook;
	src: url(img/Futura Book.otf);
}
* 
{
	box-sizing: border-box;
}

body 
{
    background-color: #F8F8F8;
    height: 100vh;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;   
}
.nav-secciones
{
  font-style: none;
  text-decoration: none;
  color: #F8F8F8;
}
.nav-secciones:hover
{
  font-style: none;
  text-decoration: none;
  color: #F8F8F8;
}
.nav-secciones:active
{
  font-style: none;
  text-decoration: none;
  color: #F8F8F8;
}
.nav-secciones:visited
{
  font-style: none;
  text-decoration: none;
  color: #F8F8F8;
}
.phone
{
  font-style: none;
  text-decoration: none;
  color: #F8F8F8;
}
.phone:hover
{
  font-style: none;
  text-decoration: none;
  color: #F8F8F8;
}
.phone:active
{
  font-style: none;
  text-decoration: none;
  color: #F8F8F8;
}
.phone:visited
{
  font-style: none;
  text-decoration: none;
  color: #F8F8F8;
}
/***********NAVBAR**********/
.nav-container
{
  width: 100%;
  margin: 0px;
  position: absolute;
  z-index: 1;
}
/*********Desktop*********/
@media (min-width: 1832px)
  {
  .nav-logo
  {
    height: 180px;
    width: 180px;
    background-image: url(img/PV_Logo.jpg);
    background-size: 100% 100%; 
    margin-left: 58px;
    float: left;
  }
  .nav-contenido
  {
    height: 180px;
    width: 87%;
    float: left;
  }
  .nav-contenido-upper
  {
    border-bottom: 1px solid;
    border-color: #F8F8F8;
    height: 71px;
    width: 100%;
    padding-top: 0px;
  }
  .nav-contenido-lower
  {
    height: 109px;
    width: 100%;
  }
  .nav-name
  {
    height: 5px;
    width: 600px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: futuraBook;
    font-style: italic;
    font-size: 36px;
    font-weight: bold;
    color: #F8F8F8;
  }
  .nav-social
  {
    height: 50px;
    width: 50px;
    margin-left: 35px;
    position: relative;
    top:-10px;
    float: right;
    background-color: #00AAAA;
    transition: 0.3s;
  }
  .nav-social:hover
  {
    background-color: #1A393A;
  }
  .nav-number
  {
    /*border: 1px solid black;*/
    height: 80px;
    width: 245px;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 42px;
    font-family: futuraBook;
    font-weight: bold;
    color: #F8F8F8;
    float: right;
  }
  .nav-secciones
  { 
    /*border: 1px solid black;*/
    height: 80px;
    width: 130px;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
    font-family: Helvetica;
    color: #F8F8F8;
    float: right;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:active > .nav-select-1 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:active > .nav-select-2 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-select-1
  {
    position: relative;
    top: -65px;
    height: 6px;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-select-2
  {
    position: relative;
    top: -101px;
    height: 6px;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-select-select
  {
    height: 8px;
    width: 100%;
    transition: 0.6s;
  }
}
/*********Desktop*********/
@media (min-width: 1440px) and (max-width: 1831px)
  {
  .nav-logo
  {
    height: 180px;
    width: 180px;
    background-image: url(img/PV_Logo.jpg);
    background-size: 100% 100%; 
    margin-left: 58px;
    float: left;
  }
  .nav-contenido
  {
    height: 180px;
    width: 82%;
    float: left;
  }
  .nav-contenido-upper
  {
    border-bottom: 1px solid;
    border-color: #F8F8F8;
    height: 71px;
    width: 100%;
    padding-top: 0px;
  }
  .nav-contenido-lower
  {
    height: 109px;
    width: 100%;
  }
  .nav-name
  {
    height: 5px;
    width: 600px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: futuraBook;
    font-style: italic;
    font-size: 36px;
    font-weight: bold;
    color: #F8F8F8;
  }
  .nav-social
  {
    height: 50px;
    width: 50px;
    margin-left: 35px;
    position: relative;
    top:-10px;
    float: right;
    background-color: #00AAAA;
    transition: 0.3s;
  }
  .nav-social:hover
  {
    background-color: #1A393A;
  }
  .nav-number
  {
    /*border: 1px solid black;*/
    height: 80px;
    width: 245px;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 42px;
    font-family: futuraBook;
    font-weight: bold;
    color: #F8F8F8;
    float: right;
  }
  .nav-secciones
  { 
    /*border: 1px solid black;*/
    height: 80px;
    width: 130px;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
    font-family: Helvetica;
    color: #F8F8F8;
    float: right;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-select-1
  {
    position: relative;
    top: -65px;
    height: 6px;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-select-2
  {
    position: relative;
    top: -101px;
    height: 6px;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-select-select
  {
    height: 8px;
    width: 100%;
    transition: 0.6s;
  }
}
/*********Desktop*********/
@media (min-width: 1200px) and (max-width: 1439px)
  {
  .nav-logo
  {
    height: 140px;
    width: 140px;
    background-image: url(img/PV_Logo.jpg);
    background-size: 100% 100%; 
    margin-left: 58px;
    float: left;
  }
  .nav-contenido
  {
    height: 180px;
    width: 82%;
    float: left;
  }
  .nav-contenido-upper
  {
    border-bottom: 1px solid;
    border-color: #F8F8F8;
    height: 55px;
    width: 100%;
    padding-top: 0px;
  }
  .nav-contenido-lower
  {
    height: 95px;
    width: 100%;
  }
  .nav-name
  {
    height: 5px;
    width: 600px;
    padding-top: 18px;
    padding-left: 18px;
    font-family: futuraBook;
    font-style: italic;
    font-size: 28px;
    font-weight: bold;
    color: #F8F8F8;
  }
  .nav-social
  {
    height: 35px;
    width: 35px;
    margin-left: 25px;
    position: relative;
    top:-10px;
    float: right;
    background-color: #00AAAA;
    transition: 0.3s;
  }
  .nav-social:hover
  {
    background-color: #1A393A;
  }
  .nav-number
  {
    /*border: 1px solid black;*/
    height: 80px;
    width: 190px;
    padding-top: 2px;
    padding-right: 10px;
    font-size: 32px;
    font-family: futuraBook;
    font-weight: bold;
    color: #F8F8F8;
    float: right;
  }
  .nav-secciones
  { 
    /*border: 1px solid black;*/
    height: 80px;
    width: 100px;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    font-family: Helvetica;
    color: #F8F8F8;
    float: right;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-select-1
  {
    position: relative;
    top: -43px;
    height: 6px;
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
  }
  .nav-select-2
  {
    position: relative;
    top: -70px;
    height: 6px;
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
  }
  .nav-select-select
  {
    height: 5px;
    width: 100%;
    transition: 0.6s;
  }
}
/*********Laptop*********/
@media (min-width: 992px) and (max-width: 1199px)
  {
  .nav-logo
  {
    height: 140px;
    width: 140px;
    background-image: url(img/PV_Logo.jpg);
    background-size: 100% 100%; 
    margin-left: 58px;
    float: left;
  }
  .nav-contenido
  {
    height: 180px;
    width: 80%;
    float: left;
  }
  .nav-contenido-upper
  {
    border-bottom: 1px solid;
    border-color: #F8F8F8;
    height: 55px;
    width: 100%;
    padding-top: 0px;
  }
  .nav-contenido-lower
  {
    height: 95px;
    width: 100%;
  }
  .nav-name
  {
    height: 5px;
    width: 600px;
    padding-top: 20px;
    padding-left: 18px;
    font-family: futuraBook;
    font-style: italic;
    font-size: 22px;
    font-weight: bold;
    color: #F8F8F8;
  }
  .nav-social
  {
    height: 35px;
    width: 35px;
    margin-left: 25px;
    position: relative;
    top:-10px;
    float: right;
    background-color: #00AAAA;
    transition: 0.3s;
  }
  .nav-social:hover
  {
    background-color: #1A393A;
  }
  .nav-number
  {
    /*border: 1px solid black;*/
    height: 80px;
    width: 165px;
    padding-top: 2px;
    padding-right: 10px;
    font-size: 28px;
    font-family: futuraBook;
    font-weight: bold;
    color: #F8F8F8;
    float: right;
  }
  .nav-secciones
  { 
    /*border: 1px solid black;*/
    height: 40px;
    width: 70px;
    padding-top: 6px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    font-family: Helvetica;
    color: #F8F8F8;
    float: right;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-select-1
  {
    position: relative;
    top: -31px;
    height: 6px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav-select-2
  {
    position: relative;
    top: -50px;
    height: 6px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav-select-select
  {
    height: 5px;
    width: 100%;
    transition: 0.6s;
  }
}
/*********N/A*********/
@media(max-width: 991px)
  {
  .nav-logo
  {
    display: none;
  }
  .nav-contenido
  {
    display: none;
  }
  .nav-contenido-upper
  {
    display: none;
  }
  .nav-contenido-lower
  {
    display: none;
  }
  .nav-name
  {
    display: none;
  }
  .nav-social
  {
    display: none;
  }
  .nav-social:hover
  {
    display: none;  }
  .nav-number
  {
    display: none;
  }
  .nav-secciones
  { 
    display: none;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    display: none;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    display: none;
  }
  .nav-select-1
  {
    display: none;
  }
  .nav-select-2
  {
    display: none;
  }
  .nav-select-select
  {
    display: none;
  }
}
/*******************************/


/*********Desktop*********/
@media (min-width: 1600px) 
{
  .inicio-carrusel
  {
    height: 75%;
    width: 100%;
    background-color: #F8F8F8;
    background-image: url(img/PV_C1.png);
    background-size: 100% 100%;
  }
  .inicio-carrusel-content
  {
    height: 75vh;
    width: 100%;
    background-image: url(img/PV_C1.jpg);
    background-size: 100% 100%;
    
  }
  .inicio-carrusel-content-linea
  {
    height: 75vh;
    width: 13%;
    padding-top: 10.8%;
    padding-left: 2%;
    float: left;
  }
  .inicio-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .inicio-carrusel-content-text
  {
    height: 75vh;
    width: 75%;
    color: #F8F8F8;
    padding-left: 3%;
    padding-top: 9%;
    float: left;
  }
  .inicio-carrusel-content-text-text
  {
    font-size: 38px;
  }
  .inicio-carrusel-content-text-frase
  {
    font-size: 98px;
    line-height: 88px;
    margin-top: 10px;
    font-family: futuraBook;
  }
  .inicio-carrusel-content-text-autor
  {
    margin-top: 20px;
    font-family: futuraBook;
    font-size: 46px;
    font-style: italic;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea
  {
    width: 90px;
    padding-top: 2%;
    padding-right: 10px; 
    margin-top: 25px;
    margin-left: 1%;
    margin-right:10px;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    width: 100%;
  }
  .inicio-frase
  {
    height: 25%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    color: #1A393A;
    font-family: futuraBook;
    font-size: 60px;
    font-weight: bold;
    line-height: 56px;
    padding-top: 2%;
    padding-left: 4%;

  }
  .inicio-texto
  {
    height: 25%;
    width: 65%;
    background-color: #F8F8F8;
    font-size: 40px;
    line-height: 48px; 
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    float: left;
  }
  .capital
  {
    font-family: futuraBook;
    font-size: 52px;
    line-height: 24px;
    color: #DBB063;
  }
  .boton
  {
    height: 78px;
    width: 380px;
    display: inline-block;
    background-color: #1A393A;
    border: none;
    border-radius: 42px;
    color: #F8F8F8;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
  }

  .boton:hover
  {
      opacity: 0.8;
  }
      
  .boton:active
  {
      opacity: 1;
      transform: translateY(4px);
  }
  .clear
  {
    clear: left;
  }
}
/*********Desktop*********/
@media (min-width: 1600px) and (max-width: 1679px) 
{
  .inicio-carrusel
  {
    height: 75%;
    width: 100%;
    background-color: #F8F8F8;
    background-image: url(img/PV_C1.png);
    background-size: 100% 100%;
  }
  .inicio-carrusel-content
  {
    height: 75vh;
    width: 100%;
    background-image: url(img/PV_C1.jpg);
    background-size: 100% 100%;
    
  }
  .inicio-carrusel-content-linea
  {
    height: 75vh;
    width: 13%;
    padding-top: 10%;
    padding-left: 2%;
    float: left;
  }
  .inicio-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .inicio-carrusel-content-text
  {
    height: 75vh;
    width: 75%;
    color: #F8F8F8;
    padding-left: 3%;
    padding-top: 9%;
    float: left;
  }
  .inicio-carrusel-content-text-text
  {
    font-size: 32px;
  }
  .inicio-carrusel-content-text-frase
  {
    font-size: 86px;
    line-height: 76px;
    margin-top: 8px;
    font-family: futuraBook;
  }
  .inicio-carrusel-content-text-autor
  {
    margin-top: 20px;
    font-family: futuraBook;
    font-size: 40px;
    font-style: italic;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea
  {
    width: 90px;
    padding-top: 2%;
    padding-right: 10px; 
    margin-top: 25px;
    margin-left: 1%;
    margin-right:10px;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    width: 100%;
  }
  .inicio-frase
  {
    height: 25%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    color: #1A393A;
    font-family: futuraBook;
    font-size: 48px;
    font-weight: bold;
    line-height: 50px;
    padding-top: 2%;
    padding-left: 4%;

  }
  .inicio-texto
  {
    height: 25%;
    width: 65%;
    background-color: #F8F8F8;
    font-size: 28px;
    line-height: 34px; 
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    float: left;
  }
  .capital
  {
    font-family: futuraBook;
    font-size: 52px;
    line-height: 24px;
    color: #DBB063;
  }
  .boton
  {
    height: 70px;
    width: 380px;
    display: inline-block;
    background-color: #1A393A;
    border: none;
    border-radius: 42px;
    color: #F8F8F8;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    font-size: 36px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
  }

  .boton:hover
  {
      opacity: 0.8;
  }
      
  .boton:active
  {
      opacity: 1;
      transform: translateY(4px);
  }
  .clear
  {
    clear: left;
  }
}
/*********Desktop*********/
@media (min-width: 1200px) and (max-width: 1599px)
{
  .inicio-carrusel
  {
    height: 75%;
    width: 100%;
    background-color: #F8F8F8;
    background-image: url(img/PV_C1.png);
    background-size: 100% 100%;
  }
  .inicio-carrusel-content
  {
    height: 75vh;
    width: 100%;
    background-image: url(img/PV_C1.jpg);
    background-size: 100% 100%;
    
  }
  .inicio-carrusel-content-linea
  {
    height: 75vh;
    width: 13%;
    padding-top: 10%;
    padding-left: 2%;
    float: left;
  }
  .inicio-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .inicio-carrusel-content-text
  {
    height: 75vh;
    width: 75%;
    color: #F8F8F8;
    padding-left: 3%;
    padding-top: 8%;
    float: left;
  }
  .inicio-carrusel-content-text-text
  {
    font-size: 28px;
  }
  .inicio-carrusel-content-text-frase
  {
    font-size: 82px;
    line-height: 72px;
    margin-top: 8px;
    font-family: futuraBook;
  }
  .inicio-carrusel-content-text-autor
  {
    margin-top: 20px;
    font-family: futuraBook;
    font-size: 36px;
    font-style: italic;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea
  {
    width: 90px;
    padding-top: 2%;
    padding-right: 10px; 
    margin-top: 25px;
    margin-left: 1%;
    margin-right:10px;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    width: 100%;
  }
  .inicio-frase
  {
    height: 25%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    color: #1A393A;
    font-family: futuraBook;
    font-size: 44px;
    font-weight: bold;
    line-height: 46px;
    padding-top: 2%;
    padding-left: 4%;

  }
  .inicio-texto
  {
    height: 25%;
    width: 65%;
    background-color: #F8F8F8;
    font-size: 24px;
    line-height: 32px; 
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    float: left;
  }
  .capital
  {
    font-family: futuraBook;
    font-size: 48px;
    line-height: 24px;
    color: #DBB063;
  }
  .boton
  {
    height: 65px;
    width: 340px;
    display: inline-block;
    background-color: #1A393A;
    border: none;
    border-radius: 42px;
    color: #F8F8F8;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
  }

  .boton:hover
  {
      opacity: 0.8;
  }
      
  .boton:active
  {
      opacity: 1;
      transform: translateY(4px);
  }
  .clear
  {
    clear: left;
  }
}
/*********Laptop*********/
@media (min-width: 992px) and (max-width: 1199px)
{
  .inicio-carrusel
  {
    height: 75%;
    width: 100%;
    background-color: #F8F8F8;
    background-image: url(img/PV_C1.png);
    background-size: 100% 100%;
  }
  .inicio-carrusel-content
  {
    height: 75vh;
    width: 100%;
    background-image: url(img/PV_C1.jpg);
    background-size: 100% 100%;
    
  }
  .inicio-carrusel-content-linea
  {
    height: 75vh;
    width: 13%;
    padding-top: 14%;
    padding-left: 2%;
    float: left;
  }
  .inicio-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .inicio-carrusel-content-text
  {
    height: 75vh;
    width: 75%;
    color: #F8F8F8;
    padding-left: 3%;
    padding-top: 12%;
    float: left;
  }
  .inicio-carrusel-content-text-text
  {
    font-size: 24px;
  }
  .inicio-carrusel-content-text-frase
  {
    font-size: 78px;
    line-height: 70px;
    margin-top: 8px;
    font-family: futuraBook;
  }
  .inicio-carrusel-content-text-autor
  {
    margin-top: 20px;
    font-family: futuraBook;
    font-size: 32px;
    font-style: italic;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea
  {
    width: 90px;
    padding-top: 2%;
    padding-right: 10px; 
    margin-top: 25px;
    margin-left: 1%;
    margin-right:10px;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    width: 100%;
  }
  .inicio-frase
  {
    height: 25%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    color: #1A393A;
    font-family: futuraBook;
    font-size: 38px;
    font-weight: bold;
    line-height: 46px;
    padding-top: 2%;
    padding-left: 4%;

  }
  .inicio-texto
  {
    height: 25%;
    width: 65%;
    background-color: #F8F8F8;
    font-size: 22px;
    line-height: 32px; 
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    float: left;
  }
  .capital
  {
    font-family: futuraBook;
    font-size: 44px;
    line-height: 24px;
    color: #DBB063;
  }
  .boton
  {
    height: 65px;
    width: 340px;
    display: inline-block;
    background-color: #1A393A;
    border: none;
    border-radius: 42px;
    color: #F8F8F8;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
  }

  .boton:hover
  {
      opacity: 0.8;
  }
      
  .boton:active
  {
      opacity: 1;
      transform: translateY(4px);
  }
  .clear
  {
    clear: left;
  }
}
/************  Tablets   ***********/
@media (min-width: 768px) and (max-width: 991px) 
{
  .inicio-carrusel
  {
    height: 600px;
    width: 100%;
    background-color: #F8F8F8;
    background-image: url(img/PV_C1.png);
    background-size: 100% 100%;
  }
  .inicio-carrusel-content
  {
    height: 600px;
    width: 100%;
    background-image: url(img/PV_C1.jpg);
    background-size: 100% 100%;
    
  }
  .inicio-carrusel-content-linea
  {
    height: 600px;
    width: 13%;
    padding-top: 19%;
    padding-left: 2%;
    float: left;
  }
  .inicio-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .inicio-carrusel-content-text
  {
    height: 600px;
    width: 75%;
    color: #F8F8F8;
    padding-left: 3%;
    padding-top: 17%;
    float: left;
  }
  .inicio-carrusel-content-text-text
  {
    font-size: 20px;
  }
  .inicio-carrusel-content-text-frase
  {
    font-size: 70px;
    line-height: 62px;
    margin-top: 8px;
    font-family: futuraBook;
  }
  .inicio-carrusel-content-text-autor
  {
    margin-top: 20px;
    font-family: futuraBook;
    font-size: 24px;
    font-style: italic;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea
  {
    width: 90px;
    padding-top: 2%;
    padding-right: 10px; 
    margin-top: 25px;
    margin-left: 1%;
    margin-right:10px;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    width: 100%;
  }
  .inicio-frase
  {
    height: 25%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    color: #1A393A;
    font-family: futuraBook;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    padding-top: 2%;
    padding-left: 4%;

  }
  .inicio-texto
  {
    height: 25%;
    width: 65%;
    background-color: #F8F8F8;
    font-size: 16px;
    line-height: 28px; 
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    float: left;
  }
  .capital
  {
    font-family: futuraBook;
    font-size: 40px;
    line-height: 24px;
    color: #DBB063;
  }
  .boton
  {
    height: 55px;
    width: 280px;
    display: inline-block;
    background-color: #1A393A;
    border: none;
    border-radius: 42px;
    color: #F8F8F8;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
  }

  .boton:hover
  {
      opacity: 0.8;
  }
      
  .boton:active
  {
      opacity: 1;
      transform: translateY(4px);
  }
  .clear
  {
    clear: left;
  }
}
/*********Mobile***********/
@media (min-width: 576px) and (max-width: 767px)
{
  .inicio-carrusel
  {
    height: 600px;
    width: 100%;
    background-color: #F8F8F8;
    background-image: url(img/PV_C1.png);
    background-size: 100% 100%;
  }
  .inicio-carrusel-content
  {
    height: 600px;
    width: 100%;
    background-image: url(img/PV_C1.jpg);
    background-size: 100% 100%;
    
  }
  .inicio-carrusel-content-linea
  {
    height: 600px;
    width: 13%;
    padding-top: 26.5%;
    padding-left: 2%;
    float: left;
  }
  .inicio-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .inicio-carrusel-content-text
  {
    height: 600px;
    width: 75%;
    color: #F8F8F8;
    padding-left: 3%;
    padding-top: 24%;
    float: left;
  }
  .inicio-carrusel-content-text-text
  {
    font-size: 18px;
  }
  .inicio-carrusel-content-text-frase
  {
    font-size: 66px;
    line-height: 58px;
    margin-top: 8px;
    font-family: futuraBook;
  }
  .inicio-carrusel-content-text-autor
  {
    margin-top: 20px;
    font-family: futuraBook;
    font-size: 20px;
    font-style: italic;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea
  {
    width: 90px;
    padding-top: 2%;
    padding-right: 10px; 
    margin-top: 25px;
    margin-left: 1%;
    margin-right:10px;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    width: 100%;
  }
  .inicio-frase
  {
    height: 120px;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    color: #1A393A;
    font-family: futuraBook;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    padding-top: 2%;
    padding-left: 4%;

  }
  .inicio-texto
  {
    height: 120px;
    width: 65%;
    background-color: #F8F8F8;
    font-size: 12px;
    line-height: 22px; 
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    float: left;
  }
  .capital
  {
    font-family: futuraBook;
    font-size: 32px;
    line-height: 24px;
    color: #DBB063;
  }
  .boton
  {
    height: 55px;
    width: 280px;
    display: inline-block;
    background-color: #1A393A;
    border: none;
    border-radius: 42px;
    color: #F8F8F8;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
  }

  .boton:hover
  {
      opacity: 0.8;
  }
      
  .boton:active
  {
      opacity: 1;
      transform: translateY(4px);
  }
  .clear
  {
    clear: left;
  }
}
/*********Small Mobile***********/
@media (max-width: 575px)
{
  .inicio-carrusel
  {
    height: 320px;
    width: 100%;
    background-color: #F8F8F8;
    background-image: url(img/PV_C1.png);
    background-size: 100% 100%;
  }
  .inicio-carrusel-content
  {
    height: 320px;
    width: 100%;
    background-image: url(img/PV_C1.jpg);
    background-size: 100% 100%;
    
  }
  .inicio-carrusel-content-linea
  {
    height: 320px;
    width: 13%;
    padding-top: 24%;
    padding-left: 2%;
    float: left;
  }
  .inicio-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .inicio-carrusel-content-text
  {
    height: 320px;
    width: 75%;
    color: #F8F8F8;
    padding-left: 3%;
    padding-top: 20%;
    float: left;
  }
  .inicio-carrusel-content-text-text
  {
    font-size: 16px;
  }
  .inicio-carrusel-content-text-frase
  {
    font-size: 33px;
    line-height: 28px;
    margin-top: 8px;
    font-family: futuraBook;
  }
  .inicio-carrusel-content-text-autor
  {
    margin-top: 8px;
    font-family: futuraBook;
    font-size: 20px;
    font-style: italic;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea
  {
    width: 20px;
    padding-top: 0px;
    padding-right: 0px; 
    margin-top: 20px;
    margin-left: 1%;
    margin-right:10px;
    float: left;
  }
  .inicio-carrusel-content-text-autor-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    width: 100%;
  }
  .inicio-frase
  {
    height: 100px;
    width: 100%;
    background-color: #F8F8F8;
    float: left;
    color: #1A393A;
    font-family: futuraBook;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    text-align: justify;
    padding-top: 2%;
    padding-left: 4%;

  }
  .inicio-texto
  {
    height: 320px;
    width: 100%;
    background-color: #F8F8F8;
    font-size: 14px;
    line-height: 22px; 
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
    float: left;
  }
  .capital
  {
    font-family: futuraBook;
    font-size: 20px;
    line-height: 20px;
    color: #DBB063;
  }
  .boton
  {
    height: 30px;
    width: 140px;
    display: inline-block;
    background-color: #1A393A;
    border: none;
    border-radius: 42px;
    color: #F8F8F8;
    margin-top: 10px;
    padding-top: 2px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
  }

  .boton:hover
  {
      opacity: 0.8;
  }
      
  .boton:active
  {
      opacity: 1;
      transform: translateY(4px);
  }
  .clear
  {
    clear: left;
  }
}