/**************Scroll***********/
::-webkit-scrollbar {
   	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
     
/* Handle */
::-webkit-scrollbar-thumb {
  	background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
@font-face {
	font-family: futuraBook;
	src: url(img/Futura Book.otf);
}
* 
{
	box-sizing: border-box;
}

body 
{
    background-color: #F8F8F8;
    height: 100vh;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;   
}

/***********NAVBAR**********/
.nav-container
{
  width: 100%;
  margin: 0px;
  position: absolute;
  z-index: 1;
}
/*********Desktop*********/
@media (min-width: 1832px)
  {
  .nav-logo
  {
    height: 180px;
    width: 180px;
    background-image: url(img/PV_Logo.jpg);
    background-size: 100% 100%; 
    margin-left: 58px;
    float: left;
  }
  .nav-contenido
  {
    height: 180px;
    width: 87%;
    float: left;
  }
  .nav-contenido-upper
  {
    border-bottom: 1px solid;
    border-color: #1A393A;
    height: 71px;
    width: 100%;
    padding-top: 0px;
  }
  .nav-contenido-lower
  {
    height: 109px;
    width: 100%;
  }
  .nav-name
  {
    height: 5px;
    width: 600px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: futuraBook;
    font-style: italic;
    font-size: 36px;
    font-weight: bold;
    color: #1A393A;
  }
  .nav-social
  {
    height: 50px;
    width: 50px;
    margin-left: 35px;
    position: relative;
    top:-10px;
    float: right;
    background-color: #00AAAA;
    transition: 0.3s;
  }
  .nav-social:hover
  {
    background-color: #1A393A;
  }
  .nav-number
  {
    /*border: 1px solid black;*/
    height: 80px;
    width: 245px;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 42px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
    float: right;
  }
  .nav-secciones
  { 
    /*border: 1px solid black;*/
    height: 80px;
    width: 130px;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
    font-family: Helvetica;
    color: #1A393A;
    float: right;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-select-1
  {
    position: relative;
    top: -57px;
    height: 6px;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-select-2
  {
    position: relative;
    top: -85px;
    height: 6px;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-select-select
  {
    height: 8px;
    width: 100%;
    transition: 0.6s;
  }
}
/*********Desktop*********/
@media (min-width: 1440px) and (max-width: 1831px)
  {
  .nav-logo
  {
    height: 180px;
    width: 180px;
    background-image: url(img/PV_Logo.jpg);
    background-size: 100% 100%; 
    margin-left: 58px;
    float: left;
  }
  .nav-contenido
  {
    height: 180px;
    width: 82%;
    float: left;
  }
  .nav-contenido-upper
  {
    border-bottom: 1px solid;
    border-color: #1A393A;
    height: 71px;
    width: 100%;
    padding-top: 0px;
  }
  .nav-contenido-lower
  {
    height: 109px;
    width: 100%;
  }
  .nav-name
  {
    height: 5px;
    width: 600px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: futuraBook;
    font-style: italic;
    font-size: 36px;
    font-weight: bold;
    color: #1A393A;
  }
  .nav-social
  {
    height: 50px;
    width: 50px;
    margin-left: 35px;
    position: relative;
    top:-10px;
    float: right;
    background-color: #00AAAA;
    transition: 0.3s;
  }
  .nav-social:hover
  {
    background-color: #1A393A;
  }
  .nav-number
  {
    /*border: 1px solid black;*/
    height: 80px;
    width: 245px;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 42px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
    float: right;
  }
  .nav-secciones
  { 
    /*border: 1px solid black;*/
    height: 80px;
    width: 130px;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
    font-family: Helvetica;
    color: #1A393A;
    float: right;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-select-1
  {
    position: relative;
    top: -57px;
    height: 6px;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-select-2
  {
    position: relative;
    top: -85px;
    height: 6px;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-select-select
  {
    height: 8px;
    width: 100%;
    transition: 0.6s;
  }
}
/*********Desktop*********/
@media (min-width: 1200px) and (max-width: 1439px)
  {
  .nav-logo
  {
    height: 140px;
    width: 140px;
    background-image: url(img/PV_Logo.jpg);
    background-size: 100% 100%; 
    margin-left: 58px;
    float: left;
  }
  .nav-contenido
  {
    height: 180px;
    width: 82%;
    float: left;
  }
  .nav-contenido-upper
  {
    border-bottom: 1px solid;
    border-color: #1A393A;
    height: 55px;
    width: 100%;
    padding-top: 0px;
  }
  .nav-contenido-lower
  {
    height: 95px;
    width: 100%;
  }
  .nav-name
  {
    height: 5px;
    width: 600px;
    padding-top: 18px;
    padding-left: 18px;
    font-family: futuraBook;
    font-style: italic;
    font-size: 28px;
    font-weight: bold;
    color: #1A393A;
  }
  .nav-social
  {
    height: 35px;
    width: 35px;
    margin-left: 25px;
    position: relative;
    top:-10px;
    float: right;
    background-color: #00AAAA;
    transition: 0.3s;
  }
  .nav-social:hover
  {
    background-color: #1A393A;
  }
  .nav-number
  {
    /*border: 1px solid black;*/
    height: 80px;
    width: 190px;
    padding-top: 2px;
    padding-right: 10px;
    font-size: 32px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
    float: right;
  }
  .nav-secciones
  { 
    /*border: 1px solid black;*/
    height: 80px;
    width: 100px;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    font-family: Helvetica;
    color: #1A393A;
    float: right;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-select-1
  {
    position: relative;
    top: -37px;
    height: 6px;
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
  }
  .nav-select-2
  {
    position: relative;
    top: -58px;
    height: 6px;
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
  }
  .nav-select-select
  {
    height: 5px;
    width: 100%;
    transition: 0.6s;
  }
}
/*********Laptop*********/
@media (min-width: 992px) and (max-width: 1199px)
  {
  .nav-logo
  {
    height: 140px;
    width: 140px;
    background-image: url(img/PV_Logo.jpg);
    background-size: 100% 100%; 
    margin-left: 58px;
    float: left;
  }
  .nav-contenido
  {
    height: 180px;
    width: 80%;
    float: left;
  }
  .nav-contenido-upper
  {
    border-bottom: 1px solid;
    border-color: #1A393A;
    height: 55px;
    width: 100%;
    padding-top: 0px;
  }
  .nav-contenido-lower
  {
    height: 95px;
    width: 100%;
  }
  .nav-name
  {
    height: 5px;
    width: 600px;
    padding-top: 20px;
    padding-left: 18px;
    font-family: futuraBook;
    font-style: italic;
    font-size: 22px;
    font-weight: bold;
    color: #1A393A;
  }
  .nav-social
  {
    height: 35px;
    width: 35px;
    margin-left: 25px;
    position: relative;
    top:-10px;
    float: right;
    background-color: #00AAAA;
    transition: 0.3s;
  }
  .nav-social:hover
  {
    background-color: #1A393A;
  }
  .nav-number
  {
    /*border: 1px solid black;*/
    height: 80px;
    width: 165px;
    padding-top: 2px;
    padding-right: 10px;
    font-size: 28px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
    float: right;
  }
  .nav-secciones
  { 
    /*border: 1px solid black;*/
    height: 40px;
    width: 70px;
    padding-top: 6px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    font-family: Helvetica;
    color: #1A393A;
    float: right;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-select-1
  {
    position: relative;
    top: -27px;
    height: 6px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav-select-2
  {
    position: relative;
    top: -42px;
    height: 6px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav-select-select
  {
    height: 5px;
    width: 100%;
    transition: 0.6s;
  }
}
/*********N/A*********/
@media(max-width: 991px)
  {
  .nav-logo
  {
    display: none;
  }
  .nav-contenido
  {
    display: none;
  }
  .nav-contenido-upper
  {
    display: none;
  }
  .nav-contenido-lower
  {
    display: none;
  }
  .nav-name
  {
    display: none;
  }
  .nav-social
  {
    display: none;
  }
  .nav-social:hover
  {
    display: none;  }
  .nav-number
  {
    display: none;
  }
  .nav-secciones
  { 
    display: none;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    display: none;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    display: none;
  }
  .nav-select-1
  {
    display: none;
  }
  .nav-select-2
  {
    display: none;
  }
  .nav-select-select
  {
    display: none;
  }
}
/*******************************/

/*********Desktop*********/
@media (min-width: 1600px)
{
  .nosotros-carrusel
  {
    height: 100%;
    width: 40%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content
  {
    height: 100vh;
    width: 100%;
    background-image: url(img/PV_1.jpg);
    background-size: 100% 100%;
    font-family: futuraBook;
    padding-top: 46%;
  }
  .nosotros-carrusel-content-frase
  {
    height: auto;
    width: 100%;
    font-size: 76px;
    line-height: 80px;
    color: #F8F8F8;
    padding-left: 10%;
  }
  .nosotros-carrusel-content-autor
  {
    height: 10%;
    width: 75%;
    padding-top: 4%;
    font-size: 36px;
    font-style: italic;
    line-height: 36px;
    color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content-linea
  {
    height: 10%;
    width: 25%;
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 1%;
    float: left;
  }
  .nosotros-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .nosotros-contenido
  {
    height: 100%;
    width: 60%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-quien-titulo
  {
    height: 45%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-right: 5%;
    padding-top: 18%;
    text-align: right;
    font-size: 62px;
    line-height: 52px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
  }
  .nosotros-contenido-quien-text
  {
    height: 45%;
    width: 65%;
    background-color: #F8F8F8;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    padding-top: 14%;
    text-align: justify;
    font-size: 22px;

  }
  .nosotros-contenido-mv-titulo
  {
    height: 30%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-top: 3%;
    padding-left: 9%;
    font-size: 58px;
    line-height: 50px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
  }
  .nosotros-contenido-mv-contenido
  {
    height: 30%;
    width: 65%;
    background-color: #F8F8F8;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
  }
  .nosotros-contenido-mv-contenido-titulo
  {
    font-size: 40px;
    font-family: futuraBook;
    color: #DBB063;
  }
  .nosotros-contenido-mv-contenido-texto
  {
    font-size: 21px;
  }
  .nosotros-contenido-valores-titulo
  {
    height: 25%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-left: 9%;
    font-size: 46px;
    line-height: 38px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
  }
  .nosotros-contenido-valores-linea-side
  {
    border-top: 2px solid black;
    border-color: #DBB063;
    margin-top: 18%;
    width: 100%;
  }
  .nosotros-contenido-valores-contenido
  {
    height: 25%;
    width: 65%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-valores-circulo-amarillo
  {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-color: #DBB063;
    margin-top: 10%;
    padding-top: 44px;
    font-size: 20px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-verde
  {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-color: #1A393A;
    margin-top: 10%;
    padding-top: 42px;
    font-size: 19px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-gris
  {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-color: #868686;
    margin-top: 10%;
    padding-top: 44px;
    font-size: 20px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-linea
  {
    width: 4.5%;
    padding-top: 19%;
    float: left;
  }
  .nosotros-contenido-valores-linea-linea
  {
    width: 100%;
    border-top: 2px solid black;
    border-color: #DBB063;
    margin-top: 20%;
  }
}
/*********Desktop*********/
@media (min-width: 1440px) and (max-width: 1599px)
{
  .nosotros-carrusel
  {
    height: 100%;
    width: 40%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content
  {
    height: 100vh;
    width: 100%;
    background-image: url(img/PV_1.jpg);
    background-size: 100% 100%;
    font-family: futuraBook;
    padding-top: 46%;
  }
  .nosotros-carrusel-content-frase
  {
    height: auto;
    width: 100%;
    font-size: 72px;
    line-height: 76px;
    color: #F8F8F8;
    padding-left: 10%;
  }
  .nosotros-carrusel-content-autor
  {
    height: 10%;
    width: 75%;
    padding-top: 4%;
    font-size: 32px;
    font-style: italic;
    line-height: 36px;
    color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content-linea
  {
    height: 10%;
    width: 25%;
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 1%;
    float: left;
  }
  .nosotros-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .nosotros-contenido
  {
    height: 100%;
    width: 60%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-quien-titulo
  {
    height: 45%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-right: 5%;
    padding-top: 18%;
    text-align: right;
    font-size: 62px;
    line-height: 52px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
  }
  .nosotros-contenido-quien-text
  {
    height: 45%;
    width: 65%;
    background-color: #F8F8F8;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    padding-top: 14%;
    text-align: justify;
    font-size: 19px;

  }
  .nosotros-contenido-mv-titulo
  {
    height: 30%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-top: 3%;
    padding-left: 9%;
    font-size: 58px;
    line-height: 50px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
  }
  .nosotros-contenido-mv-contenido
  {
    height: 30%;
    width: 65%;
    background-color: #F8F8F8;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
  }
  .nosotros-contenido-mv-contenido-titulo
  {
    font-size: 42px;
    font-family: futuraBook;
    color: #DBB063;
  }
  .nosotros-contenido-mv-contenido-texto
  {
    font-size: 19px;
  }
  .nosotros-contenido-valores-titulo
  {
    height: 25%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-left: 9%;
    font-size: 46px;
    line-height: 38px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
  }
  .nosotros-contenido-valores-linea-side
  {
    border-top: 2px solid black;
    border-color: #DBB063;
    margin-top: 18%;
    width: 100%;
  }
  .nosotros-contenido-valores-contenido
  {
    height: 25%;
    width: 65%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-valores-circulo-amarillo
  {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-color: #DBB063;
    margin-top: 10%;
    padding-top: 44px;
    font-size: 20px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-verde
  {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-color: #1A393A;
    margin-top: 10%;
    padding-top: 42px;
    font-size: 19px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-gris
  {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-color: #868686;
    margin-top: 10%;
    padding-top: 44px;
    font-size: 20px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-linea
  {
    width: 4.5%;
    padding-top: 19%;
    float: left;
  }
  .nosotros-contenido-valores-linea-linea
  {
    width: 100%;
    border-top: 2px solid black;
    border-color: #DBB063;
    margin-top: 20%;
  }
}
/*********Desktop*********/
@media (min-width: 1200px) and (max-width: 1439px)
{
  .nosotros-carrusel
  {
    height: 100%;
    width: 40%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content
  {
    height: 100vh;
    width: 100%;
    background-image: url(img/PV_1.jpg);
    background-size: 100% 100%;
    font-family: futuraBook;
    padding-top: 50%;
  }
  .nosotros-carrusel-content-frase
  {
    height: auto;
    width: 100%;
    font-size: 68px;
    line-height: 72px;
    color: #F8F8F8;
    padding-left: 10%;
  }
  .nosotros-carrusel-content-autor
  {
    height: 10%;
    width: 75%;
    padding-top: 4%;
    font-size: 32px;
    font-style: italic;
    line-height: 36px;
    color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content-linea
  {
    height: 10%;
    width: 25%;
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 1%;
    float: left;
  }
  .nosotros-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .nosotros-contenido
  {
    height: 100%;
    width: 60%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-quien-titulo
  {
    height: 45%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-right: 5%;
    padding-top: 18%;
    text-align: right;
    font-size: 58px;
    line-height: 48px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
  }
  .nosotros-contenido-quien-text
  {
    height: 45%;
    width: 65%;
    background-color: #F8F8F8;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    padding-top: 14%;
    text-align: justify;
    font-size: 18px;

  }
  .nosotros-contenido-mv-titulo
  {
    height: 30%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-top: 3%;
    padding-left: 9%;
    font-size: 52px;
    line-height: 44px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
  }
  .nosotros-contenido-mv-contenido
  {
    height: 30%;
    width: 65%;
    background-color: #F8F8F8;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
  }
  .nosotros-contenido-mv-contenido-titulo
  {
    font-size: 38px;
    font-family: futuraBook;
    color: #DBB063;
  }
  .nosotros-contenido-mv-contenido-texto
  {

  }
  .nosotros-contenido-valores-titulo
  {
    height: 25%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-left: 9%;
    font-size: 40px;
    line-height: 32px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
  }
  .nosotros-contenido-valores-linea-side
  {
    border-top: 2px solid black;
    border-color: #DBB063;
    margin-top: 18%;
    width: 100%;
  }
  .nosotros-contenido-valores-contenido
  {
    height: 25%;
    width: 65%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-valores-circulo-amarillo
  {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #DBB063;
    margin-top: 10%;
    padding-top: 35px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-verde
  {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #1A393A;
    margin-top: 10%;
    padding-top: 35px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-gris
  {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #868686;
    margin-top: 10%;
    padding-top: 35px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-linea
  {
    width: 4.5%;
    padding-top: 19%;
    float: left;
  }
  .nosotros-contenido-valores-linea-linea
  {
    width: 100%;
    border-top: 2px solid black;
    border-color: #DBB063;
    margin-top: 20%;
  }
}
/*********Laptop*********/
@media (min-width: 992px) and (max-width: 1199px)
{
  .nosotros-carrusel
  {
    height: 100%;
    width: 40%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content
  {
    height: 100vh;
    width: 100%;
    background-image: url(img/PV_1.jpg);
    background-size: 100% 100%;
    font-family: futuraBook;
    padding-top: 60%;
  }
  .nosotros-carrusel-content-frase
  {
    height: auto;
    width: 100%;
    font-size: 58px;
    line-height: 62px;
    color: #F8F8F8;
    padding-left: 5%;
  }
  .nosotros-carrusel-content-autor
  {
    height: 10%;
    width: 75%;
    padding-top: 4%;
    font-size: 28px;
    font-style: italic;
    line-height: 36px;
    color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content-linea
  {
    height: 10%;
    width: 25%;
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 1%;
    float: left;
  }
  .nosotros-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .nosotros-contenido
  {
    height: 100%;
    width: 60%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-quien-titulo
  {
    height: 45%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-right: 5%;
    padding-top: 22%;
    text-align: right;
    font-size: 50px;
    line-height: 40px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
  }
  .nosotros-contenido-quien-text
  {
    height: 45%;
    width: 65%;
    background-color: #F8F8F8;
    padding-left: 2%;
    padding-right: 3%;
    float: left;
    padding-top: 16%;
    text-align: justify;
    font-size: 17px;

  }
  .nosotros-contenido-mv-titulo
  {
    height: 30%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-top: 3%;
    padding-left: 6%;
    font-size: 46px;
    line-height: 38px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
  }
  .nosotros-contenido-mv-contenido
  {
    height: 30%;
    width: 65%;
    background-color: #F8F8F8;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
  }
  .nosotros-contenido-mv-contenido-titulo
  {
    font-size: 32px;
    font-family: futuraBook;
    color: #DBB063;
  }
  .nosotros-contenido-mv-contenido-texto
  {
    font-size: 15px;
  }
  .nosotros-contenido-valores-titulo
  {
    height: 25%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-left: 9%;
    font-size: 36px;
    line-height: 28px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
  }
  .nosotros-contenido-valores-linea-side
  {
    border-top: 2px solid black;
    border-color: #DBB063;
    margin-top: 26%;
    width: 100%;
  }
  .nosotros-contenido-valores-contenido
  {
    height: 25%;
    width: 65%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-valores-circulo-amarillo
  {
    height: 83px;
    width: 83px;
    border-radius: 100%;
    background-color: #DBB063;
    margin-top: 15%;
    padding-top: 30px;
    font-size: 14px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-verde
  {
    height: 83px;
    width: 83px;
    border-radius: 100%;
    background-color: #1A393A;
    margin-top: 15%;
    padding-top: 30px;
    font-size: 14px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-gris
  {
    height: 83px;
    width: 83px;
    border-radius: 100%;
    background-color: #868686;
    margin-top: 15%;
    padding-top: 30px;
    font-size: 14px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-linea
  {
    width: 4.5%;
    padding-top: 24%;
    float: left;
  }
  .nosotros-contenido-valores-linea-linea
  {
    width: 100%;
    border-top: 2px solid black;
    border-color: #DBB063;
    margin-top: 22%;
  }
}
/*********Tablets*********/
@media (min-width: 768px) and (max-width: 991px)
{
  .nosotros-carrusel
  {
    height: 700px;
    width: 100%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content
  {
    height: 700px;
    width: 100%;
    background-image: url(img/PV_1.jpg);
    background-size: 100% 100%;
    font-family: futuraBook;
    padding-top: 27%;
    padding-left: 12%;
  }
  .nosotros-carrusel-content-frase
  {
    height: auto;
    width: 100%;
    font-size: 68px;
    line-height: 68px;
    color: #F8F8F8;
    padding-left: 5%;
  }
  .nosotros-carrusel-content-autor
  {
    height: 10%;
    width: 75%;
    padding-top: 3.5%;
    font-size: 32px;
    font-style: italic;
    line-height: 36px;
    color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content-linea
  {
    height: 10%;
    width: 22%;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 1%;
    float: left;
  }
  .nosotros-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .nosotros-contenido
  {
    height: 800px;
    width: 100%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-quien-titulo
  {
    height: 280px;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-right: 5%;
    padding-top: 5%;
    text-align: right;
    font-size: 50px;
    line-height: 40px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
  }
  .nosotros-contenido-quien-text
  {
    height: 280px;
    width: 65%;
    background-color: #F8F8F8;
    padding-left: 2%;
    padding-right: 3%;
    float: left;
    padding-top: 5%;
    text-align: justify;
    font-size: 18px;

  }
  .nosotros-contenido-mv-titulo
  {
    height: 300px;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-top: 3%;
    padding-left: 6%;
    font-size: 46px;
    line-height: 38px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
  }
  .nosotros-contenido-mv-contenido
  {
    height: 300px;
    width: 65%;
    background-color: #F8F8F8;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
  }
  .nosotros-contenido-mv-contenido-titulo
  {
    font-size: 38px;
    font-family: futuraBook;
    color: #DBB063;
  }
  .nosotros-contenido-mv-contenido-texto
  {
    font-size: 18px;
  }
  .nosotros-contenido-valores-titulo
  {
    height: 25%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-left: 9%;
    font-size: 36px;
    line-height: 28px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
  }
  .nosotros-contenido-valores-linea-side
  {
    border-top: 2px solid black;
    border-color: #DBB063;
    margin-top: 34%;
    width: 100%;
  }
  .nosotros-contenido-valores-contenido
  {
    height: 300px;
    width: 65%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-valores-circulo-amarillo
  {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #DBB063;
    margin-top: 15%;
    padding-top: 38px;
    font-size: 16px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-verde
  {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #1A393A;
    margin-top: 15%;
    padding-top: 38px;
    font-size: 16px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-gris
  {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #868686;
    margin-top: 15%;
    padding-top: 38px;
    font-size: 16px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-linea
  {
    width: 4.5%;
    padding-top: 24%;
    float: left;
  }
  .nosotros-contenido-valores-linea-linea
  {
    width: 100%;
    border-top: 2px solid black;
    border-color: #DBB063;
    margin-top: 22%;
  }
}
/*********Mobile*********/
@media (min-width: 576px) and (max-width: 767px)
{
  .nosotros-carrusel
  {
    height: 700px;
    width: 100%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content
  {
    height: 700px;
    width: 100%;
    background-image: url(img/PV_1.jpg);
    background-size: 100% 100%;
    font-family: futuraBook;
    padding-top: 27%;
    padding-left: 12%;
  }
  .nosotros-carrusel-content-frase
  {
    height: auto;
    width: 100%;
    font-size: 68px;
    line-height: 68px;
    color: #F8F8F8;
    padding-left: 5%;
  }
  .nosotros-carrusel-content-autor
  {
    height: 10%;
    width: 75%;
    padding-top: 3.5%;
    font-size: 32px;
    font-style: italic;
    line-height: 36px;
    color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content-linea
  {
    height: 10%;
    width: 22%;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 1%;
    float: left;
  }
  .nosotros-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .nosotros-contenido
  {
    height: 800px;
    width: 100%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-quien-titulo
  {
    height: 280px;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-right: 1%;
    padding-top: 5%;
    text-align: right;
    font-size: 46px;
    line-height: 36px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
  }
  .nosotros-contenido-quien-text
  {
    height: 280px;
    width: 65%;
    background-color: #F8F8F8;
    padding-left: 2%;
    padding-right: 3%;
    float: left;
    padding-top: 5%;
    text-align: justify;
    font-size: 16px;

  }
  .nosotros-contenido-mv-titulo
  {
    height: 300px;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-top: 3%;
    padding-left: 6%;
    font-size: 42px;
    line-height: 34px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
  }
  .nosotros-contenido-mv-contenido
  {
    height: 300px;
    width: 65%;
    background-color: #F8F8F8;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
  }
  .nosotros-contenido-mv-contenido-titulo
  {
    font-size: 38px;
    font-family: futuraBook;
    color: #DBB063;
  }
  .nosotros-contenido-mv-contenido-texto
  {
    font-size: 18px;
  }
  .nosotros-contenido-valores-titulo
  {
    height: 25%;
    width: 35%;
    background-color: #F8F8F8;
    float: left;
    padding-left: 9%;
    font-size: 32px;
    line-height: 24px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
  }
  .nosotros-contenido-valores-linea-side
  {
    border-top: 2px solid black;
    border-color: #DBB063;
    margin-top: 44%;
    width: 100%;
  }
  .nosotros-contenido-valores-contenido
  {
    height: 25%;
    width: 65%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-valores-circulo-amarillo
  {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: #DBB063;
    margin-top: 20%;
    padding-top: 32px;
    font-size: 12px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-verde
  {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: #1A393A;
    margin-top: 20%;
    padding-top: 32px;
    font-size: 12px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-gris
  {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: #868686;
    margin-top: 20%;
    padding-top: 32px;
    font-size: 12px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-linea
  {
    width: 4.5%;
    padding-top: 30%;
    float: left;
  }
  .nosotros-contenido-valores-linea-linea
  {
    width: 100%;
    border-top: 2px solid black;
    border-color: #DBB063;
    margin-top: 22%;
  }
}
/*********Small Mobile*********/
@media (max-width: 575px)
{
  .nosotros-carrusel
  {
    height: 550px;
    width: 100%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content
  {
    height: 550px;
    width: 100%;
    background-image: url(img/PV_1.jpg);
    background-size: 100% 100%;
    font-family: futuraBook;
    padding-top: 50%;
    padding-left: 12%;
  }
  .nosotros-carrusel-content-frase
  {
    height: auto;
    width: 100%;
    font-size: 42px;
    line-height: 42px;
    color: #F8F8F8;
    padding-left: 1%;
  }
  .nosotros-carrusel-content-autor
  {
    height: 10%;
    width: 75%;
    padding-top: 3.5%;
    font-size: 20px;
    font-style: italic;
    line-height: 20px;
    color: #F8F8F8;
    float: left;
  }
  .nosotros-carrusel-content-linea
  {
    height: 10%;
    width: 22%;
    padding-top: 6%;
    padding-left: 6%;
    padding-right: 4%;
    float: left;
  }
  .nosotros-carrusel-content-linea-linea
  {
    border-top: 2px solid black;
    border-color: #F8F8F8;
    height: 25%;
    width: 100%;
  }
  .nosotros-contenido
  {
    height: 800px;
    width: 100%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-quien-titulo
  {
    height: 100px;
    width: 100%;
    background-color: #F8F8F8;
    float: left;
    text-align: center;
    padding-top: 5%;
    font-size: 46px;
    line-height: 36px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
  }
  .nosotros-contenido-quien-text
  {
    height: auto;
    width: 100%;
    background-color: #F8F8F8;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    padding-top: 10px;
    text-align: justify;
    font-size: 18px;

  }
  .nosotros-contenido-mv-titulo
  {
    height: 130px;
    width: 100%;
    background-color: #F8F8F8;
    float: left;
    padding-top: 3%;
    text-align: center;
    font-size: 42px;
    line-height: 34px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
    margin-top: 20px;

  }
  .nosotros-contenido-mv-contenido
  {
    height: auto;
    width: 100%;
    background-color: #F8F8F8;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    float: left;
  }
  .nosotros-contenido-mv-contenido-titulo
  {
    font-size: 42px;
    font-family: futuraBook;
    color: #DBB063;
  }
  .nosotros-contenido-mv-contenido-texto
  {
    font-size: 18px;
  }
  .nosotros-contenido-valores-titulo
  {
    height: 75px;
    width: 100%;
    background-color: #F8F8F8;
    float: left;
    font-size: 32px;
    line-height: 24px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
    padding-top: 15px;
    text-align: center;

  }
  .nosotros-contenido-valores-linea-side
  {
    display: none;
  }
  .nosotros-contenido-valores-contenido
  {
    height: 120px;
    width: 100%;
    background-color: #F8F8F8;
    float: left;
  }
  .nosotros-contenido-valores-circulo-amarillo
  {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #DBB063;
    margin-top: 30px;
    padding-top: 26px;
    font-size: 12px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-verde
  {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #1A393A;
    margin-top: 30px;
    padding-top: 26px;
    font-size: 12px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-circulo-gris
  {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #868686;
    margin-top: 30px;
    padding-top: 26px;
    font-size: 12px;
    float: left;
    text-align: center;
    color: #F8F8F8;
  }
  .nosotros-contenido-valores-linea
  {
    width: 10px;
    padding-top: 30%;
    float: left;
  }
  .nosotros-contenido-valores-linea-linea
  {
    display: none;
    width: 100%;
    border-top: 2px solid black;
    border-color: #DBB063;
    margin-top: 22%;
  }
}