/**************Scroll***********/
::-webkit-scrollbar {
   	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
     
/* Handle */
::-webkit-scrollbar-thumb {
  	background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
@font-face {
	font-family: futuraBook;
	src: url(img/Futura Book.otf);
}
* 
{
	box-sizing: border-box;
}

body 
{
    height: 100vh;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;   
}

/***********NAVBAR**********/
.nav-container
{
  width: 100%;
  margin: 0px;
  position: absolute;
  z-index: 1;
}
/*********Desktop*********/
@media (min-width: 1832px)
  {
  .nav-logo
  {
    height: 180px;
    width: 180px;
    background-image: url(img/PV_Logo.jpg);
    background-size: 100% 100%; 
    margin-left: 58px;
    float: left;
  }
  .nav-contenido
  {
    height: 180px;
    width: 87%;
    float: left;
  }
  .nav-contenido-upper
  {
    border-bottom: 1px solid;
    border-color: #1A393A;
    height: 71px;
    width: 100%;
    padding-top: 0px;
  }
  .nav-contenido-lower
  {
    height: 109px;
    width: 100%;
  }
  .nav-name
  {
    height: 5px;
    width: 600px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: futuraBook;
    font-style: italic;
    font-size: 36px;
    font-weight: bold;
    color: #1A393A;
  }
  .nav-social
  {
    height: 50px;
    width: 50px;
    margin-left: 35px;
    position: relative;
    top:-10px;
    float: right;
    background-color: #00AAAA;
    transition: 0.3s;
  }
  .nav-social:hover
  {
    background-color: #1A393A;
  }
  .nav-number
  {
    /*border: 1px solid black;*/
    height: 80px;
    width: 245px;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 42px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
    float: right;
  }
  .nav-secciones
  { 
    /*border: 1px solid black;*/
    height: 80px;
    width: 130px;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
    font-family: Helvetica;
    color: #1A393A;
    float: right;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-select-1
  {
    position: relative;
    top: -57px;
    height: 6px;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-select-2
  {
    position: relative;
    top: -85px;
    height: 6px;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-select-select
  {
    height: 8px;
    width: 100%;
    transition: 0.6s;
  }
}
/*********Desktop*********/
@media (min-width: 1440px) and (max-width: 1831px)
  {
  .nav-logo
  {
    height: 180px;
    width: 180px;
    background-image: url(img/PV_Logo.jpg);
    background-size: 100% 100%; 
    margin-left: 58px;
    float: left;
  }
  .nav-contenido
  {
    height: 180px;
    width: 82%;
    float: left;
  }
  .nav-contenido-upper
  {
    border-bottom: 1px solid;
    border-color: #1A393A;
    height: 71px;
    width: 100%;
    padding-top: 0px;
  }
  .nav-contenido-lower
  {
    height: 109px;
    width: 100%;
  }
  .nav-name
  {
    height: 5px;
    width: 600px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: futuraBook;
    font-style: italic;
    font-size: 36px;
    font-weight: bold;
    color: #1A393A;
  }
  .nav-social
  {
    height: 50px;
    width: 50px;
    margin-left: 35px;
    position: relative;
    top:-10px;
    float: right;
    background-color: #00AAAA;
    transition: 0.3s;
  }
  .nav-social:hover
  {
    background-color: #1A393A;
  }
  .nav-number
  {
    /*border: 1px solid black;*/
    height: 80px;
    width: 245px;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 42px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
    float: right;
  }
  .nav-secciones
  { 
    /*border: 1px solid black;*/
    height: 80px;
    width: 130px;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
    font-family: Helvetica;
    color: #1A393A;
    float: right;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-select-1
  {
    position: relative;
    top: -57px;
    height: 6px;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-select-2
  {
    position: relative;
    top: -85px;
    height: 6px;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-select-select
  {
    height: 8px;
    width: 100%;
    transition: 0.6s;
  }
}
/*********Desktop*********/
@media (min-width: 1200px) and (max-width: 1439px)
  {
  .nav-logo
  {
    height: 140px;
    width: 140px;
    background-image: url(img/PV_Logo.jpg);
    background-size: 100% 100%; 
    margin-left: 58px;
    float: left;
  }
  .nav-contenido
  {
    height: 180px;
    width: 82%;
    float: left;
  }
  .nav-contenido-upper
  {
    border-bottom: 1px solid;
    border-color: #1A393A;
    height: 55px;
    width: 100%;
    padding-top: 0px;
  }
  .nav-contenido-lower
  {
    height: 95px;
    width: 100%;
  }
  .nav-name
  {
    height: 5px;
    width: 600px;
    padding-top: 18px;
    padding-left: 18px;
    font-family: futuraBook;
    font-style: italic;
    font-size: 28px;
    font-weight: bold;
    color: #1A393A;
  }
  .nav-social
  {
    height: 35px;
    width: 35px;
    margin-left: 25px;
    position: relative;
    top:-10px;
    float: right;
    background-color: #00AAAA;
    transition: 0.3s;
  }
  .nav-social:hover
  {
    background-color: #1A393A;
  }
  .nav-number
  {
    /*border: 1px solid black;*/
    height: 80px;
    width: 190px;
    padding-top: 2px;
    padding-right: 10px;
    font-size: 32px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
    float: right;
  }
  .nav-secciones
  { 
    /*border: 1px solid black;*/
    height: 80px;
    width: 100px;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    font-family: Helvetica;
    color: #1A393A;
    float: right;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-select-1
  {
    position: relative;
    top: -37px;
    height: 6px;
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
  }
  .nav-select-2
  {
    position: relative;
    top: -58px;
    height: 6px;
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
  }
  .nav-select-select
  {
    height: 5px;
    width: 100%;
    transition: 0.6s;
  }
}
/*********Laptop*********/
@media (min-width: 992px) and (max-width: 1199px)
  {
  .nav-logo
  {
    height: 140px;
    width: 140px;
    background-image: url(img/PV_Logo.jpg);
    background-size: 100% 100%; 
    margin-left: 58px;
    float: left;
  }
  .nav-contenido
  {
    height: 180px;
    width: 80%;
    float: left;
  }
  .nav-contenido-upper
  {
    border-bottom: 1px solid;
    border-color: #1A393A;
    height: 55px;
    width: 100%;
    padding-top: 0px;
  }
  .nav-contenido-lower
  {
    height: 95px;
    width: 100%;
  }
  .nav-name
  {
    height: 5px;
    width: 600px;
    padding-top: 20px;
    padding-left: 18px;
    font-family: futuraBook;
    font-style: italic;
    font-size: 22px;
    font-weight: bold;
    color: #1A393A;
  }
  .nav-social
  {
    height: 35px;
    width: 35px;
    margin-left: 25px;
    position: relative;
    top:-10px;
    float: right;
    background-color: #00AAAA;
    transition: 0.3s;
  }
  .nav-social:hover
  {
    background-color: #1A393A;
  }
  .nav-number
  {
    /*border: 1px solid black;*/
    height: 80px;
    width: 165px;
    padding-top: 2px;
    padding-right: 10px;
    font-size: 28px;
    font-family: futuraBook;
    font-weight: bold;
    color: #1A393A;
    float: right;
  }
  .nav-secciones
  { 
    /*border: 1px solid black;*/
    height: 40px;
    width: 70px;
    padding-top: 6px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    font-family: Helvetica;
    color: #1A393A;
    float: right;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    background-color: #DBB063;
  }
  .nav-select-1
  {
    position: relative;
    top: -27px;
    height: 6px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav-select-2
  {
    position: relative;
    top: -42px;
    height: 6px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav-select-select
  {
    height: 5px;
    width: 100%;
    transition: 0.6s;
  }
}
/*********N/A*********/
@media(max-width: 991px)
  {
  .nav-logo
  {
    display: none;
  }
  .nav-contenido
  {
    display: none;
  }
  .nav-contenido-upper
  {
    display: none;
  }
  .nav-contenido-lower
  {
    display: none;
  }
  .nav-name
  {
    display: none;
  }
  .nav-social
  {
    display: none;
  }
  .nav-social:hover
  {
    display: none;  }
  .nav-number
  {
    display: none;
  }
  .nav-secciones
  { 
    display: none;
  }
  .nav-secciones:hover > .nav-select-1 > .nav-select-select
  {
    display: none;
  }
  .nav-secciones:hover > .nav-select-2 > .nav-select-select
  {
    display: none;
  }
  .nav-select-1
  {
    display: none;
  }
  .nav-select-2
  {
    display: none;
  }
  .nav-select-select
  {
    display: none;
  }
}
/*******************************/

/*********Desktop*********/
@media (min-width: 1440px)
{
  .nuestro-abogado
  {
    height: 100%;
    width: 33.33%;
    background-color: #F8F8F8;
    float: left;
    padding-top: 16%;
  }
  .nuestro-abogado-contenido
  {
    height: 200px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  .nuestro-abogado-imagen-b
  {
    height: 420px;
    width: 420px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_6.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-b:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-b:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-imagen-l
  {
    height: 420px;
    width: 420px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_7.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-l:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-l:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-imagen-a
  {
    height: 420px;
    width: 420px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_8.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-a:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-a:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-info
  {
    height: auto;
    width: 100%;
    margin-top: 15px;
  }
  .nuestro-abogado-linea
  {
    width: 25%;
    float: left;
    padding-top: 18px;
    padding-right: 10px;
    padding-left: 0px;

  }
  .nuestro-abogado-linea-linea
  {
    border-top: 2px solid black;
    border-color: #DBB063;
    
  }
  .nuestro-abogado-nombre
  {
    width: 75%;
    font-size: 50px;
    line-height: 46px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
    float: left;
  }
}
/*********Desktop*********/
@media (min-width: 1200px) and (max-width: 1439px)
{
  .nuestro-abogado
  {
    height: 100%;
    width: 33.33%;
    background-color: #F8F8F8;
    float: left;
    padding-top: 16%;
  }
  .nuestro-abogado-contenido
  {
    height: 200px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  .nuestro-abogado-imagen-b
  {
    height: 380px;
    width: 380px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_6.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-b:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-b:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-imagen-l
  {
    height: 380px;
    width: 380px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_7.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-l:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-l:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-imagen-a
  {
    height: 380px;
    width: 380px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_8.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-a:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-a:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-info
  {
    height: auto;
    width: 100%;
    margin-top: 15px;
  }
  .nuestro-abogado-linea
  {
    width: 25%;
    float: left;
    padding-top: 18px;
    padding-right: 10px;
    padding-left: 10px;

  }
  .nuestro-abogado-linea-linea
  {
    border-top: 2px solid black;
    border-color: #DBB063;
    
  }
  .nuestro-abogado-nombre
  {
    width: 75%;
    font-size: 46px;
    line-height: 42px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
    float: left;
  }
}
/*********Laptop*********/
@media (min-width: 922px) and (max-width: 1199px)
{
  .nuestro-abogado
  {
    height: 100%;
    width: 33.33%;
    background-color: #F8F8F8;
    float: left;
    padding-top: 20%;
  }
  .nuestro-abogado-contenido
  {
    height: 200px;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
  .nuestro-abogado-imagen-b
  {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_6.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-b:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-b:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-imagen-l
  {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_7.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-l:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-l:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-imagen-a
  {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_8.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-a:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-a:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-info
  {
    height: auto;
    width: 100%;
    margin-top: 15px;
  }
  .nuestro-abogado-linea
  {
    width: 25%;
    float: left;
    padding-top: 18px;
    padding-right: 10px;
    padding-left: 10px;

  }
  .nuestro-abogado-linea-linea
  {
    border-top: 2px solid black;
    border-color: #DBB063;
    
  }
  .nuestro-abogado-nombre
  {
    width: 75%;
    font-size: 38px;
    line-height: 34px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
    float: left;
  }
}
/*********Tablet*********/
@media (min-width: 768px) and (max-width: 991px)
{
  .nuestro-abogado
  {
    height: 100%;
    width: 33.33%;
    background-color: #F8F8F8;
    float: left;
    padding-top: 20%;
  }
  .nuestro-abogado-contenido
  {
    height: 200px;
    width: 260px;
    margin-right: auto;
    margin-left: auto;
  }
  .nuestro-abogado-imagen-b
  {
    height: 240px;
    width: 240px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_6.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-b:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-b:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-imagen-l
  {
    height: 240px;
    width: 240px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_7.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-l:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-l:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-imagen-a
  {
    height: 240px;
    width: 240px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_8.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-a:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-a:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-info
  {
    height: auto;
    width: 100%;
    margin-top: 15px;
  }
  .nuestro-abogado-linea
  {
    width: 25%;
    float: left;
    padding-top: 18px;
    padding-right: 10px;
    padding-left: 10px;

  }
  .nuestro-abogado-linea-linea
  {
    border-top: 2px solid black;
    border-color: #DBB063;
    
  }
  .nuestro-abogado-nombre
  {
    width: 75%;
    font-size: 32px;
    line-height: 28px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
    float: left;
  }
}
/*********Mobile*********/
@media (min-width: 576px) and (max-width: 767px)
{
  .nuestro-abogado
  {
    height: 100%;
    width: 33.33%;
    background-color: #F8F8F8;
    float: left;
    padding-top: 20%;
  }
  .nuestro-abogado-contenido
  {
    height: 200px;
    width: 180px;
    margin-right: auto;
    margin-left: auto;
  }
  .nuestro-abogado-imagen-b
  {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_6.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-b:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-b:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-imagen-l
  {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_7.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-l:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-l:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-imagen-a
  {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_8.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-a:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-a:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-info
  {
    height: auto;
    width: 100%;
    margin-top: 15px;
  }
  .nuestro-abogado-linea
  {
    width: 25%;
    float: left;
    padding-top: 18px;
    padding-right: 10px;
    padding-left: 10px;

  }
  .nuestro-abogado-linea-linea
  {
    border-top: 2px solid black;
    border-color: #DBB063;
    
  }
  .nuestro-abogado-nombre
  {
    width: 75%;
    font-size: 22px;
    line-height: 18px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
    float: left;
  }
}
/*********Small Mobile*********/
@media (max-width: 575px)
{
  .nuestro-abogado
  {
    height: 300px;
    width: 100%;
    background-color: #F8F8F8;
    padding-top: 20px;
    float: left;
  }
  .nuestro-abogado-contenido
  {
    height: 200px;
    width: 190px;
    margin-right: auto;
    margin-left: auto;
  }
  .nuestro-abogado-imagen-b
  {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_6.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-b:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-b:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-imagen-l
  {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_7.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-l:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-l:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-imagen-a
  {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(img/PV_8.png);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .nuestro-abogado-imagen-a:hover
  { 
    border: 3px solid black;
    background-color: #DBB063;
    filter: grayscale(20%);
    border-color: #DBB063;
  }
  .nuestro-abogado-imagen-a:active
  {
    filter: grayscale(0%);
  }
  .nuestro-abogado-info
  {
    height: 80px;
    width: 240px;
    margin-top: 15px;
  }
  .nuestro-abogado-linea
  {
    width: 25%;
    float: left;
    padding-top: 18px;
    padding-right: 10px;
    padding-left: 0px;

  }
  .nuestro-abogado-linea-linea
  {
    border-top: 2px solid black;
    border-color: #DBB063;
    
  }
  .nuestro-abogado-nombre
  {
    width: 75%;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    font-family: futuraBook;
    color: #1A393A;
    float: left;
  }
}